{% extends 'base.html' %}

{% block title %}
{{ category }}
{% endblock %}

{% block content %}

<h2 class="mt-4 text-primary">{{ category }}</h2>

<div class="row">

{% for product in products %}

<div class="col-md-4 mb-4">

<div class="card shadow">

{% if product.image %}
<img src="{{ product.image.url }}" class="card-img-top">
{% endif %}

<div class="card-body">

<h5>{{ product.name }}</h5>

<p><strong>Brand:</strong> {{ product.brand }}</p>

<p><strong>Price:</strong> ₹{{ product.price }}</p>

<a href="/product/{{ product.id }}/"
class="btn btn-primary w-100">
View Details
</a>

</div>

</div>

</div>

{% empty %}

<p>No products found.</p>

{% endfor %}

</div>

{% endblock %}